.banner{
	position: relative;
	width: 100%;
	height: 110px;
}
.loggober{
	position: relative;
	margin-right: 550px;
}
.logcreemos{
	position: relative;
	margin-top: -90px;
}
.logtic{
	position: relative;
	margin-left: 550px;
	margin-top: -90px;	
}
.lrojo{
	background-color: #E41015;
	width: 100%;
	height: 68px;
	margin-top: 220px;
}
.lverde{
	width: 100%;
	height: 66px;
	margin-top: 33px;
	background-color: #389436;
}
.verde01{
	position: relative;
	width: 675px;
	height: 116px;
	margin-top: -65px;
	margin-left: 240px;
}
.marimg{
	position: absolute;
	width: 546px;
	height: 297px;
	margin-left: -170px;
	margin-top: -50px;
}
.mapaimg{
	position: absolute;
	width: 548px;
	height: 482px;
	margin-left: -476px;
	margin-top: -50px;
	z-index: 1;
	text-align: center;
}
.btn{
	position: relative;
	width: 143px;
	height: 359px;
	text-align: center;
	margin: -2px;
	border-radius: 0px;
	z-index: 1;
}
.bandera{
	position: relative;
	width: 100%;
	height: 17px;
	margin-top: 50px;
}
.estadisticas{
	position: relative;
	width: 100%;
	height: 201px;
	background-color: #FDFCD3;
}
.pie{
	background-color: #aab9bc;
	opacity: 80%;
	width: 100%;
	height: 90px;
	margin-top: -16px;
}
h3{
	font-family: Arial, Helvetica, sans-serif; 
	color: #0e627b;
	font-size: .875em;
}
.lupa1{
    width: 462px;
    height: 235px;
	z-index: 2;	
	margin-top: 0px;
}
.lupaimg {
    z-index: 2;
    position: absolute;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s; 
    animation-name: example;
    animation-duration: 4s;
    left:0px;
    top:125px;
}
@-webkit-keyframes example {
    0%   {left:-400px; top:125px;}
    100%  {left:0px; top:125px;}   
}
@keyframes example {
    0%   {left:-400px; top:125px;}
    100%  {left:0px; top:125px;}  
}
.lupa2{
    width: 462px;
    height: 235px;
	z-index: 2;	
	margin-top: 0px;
}
.lupaimg1{
    z-index: 2;
    position: absolute;
    -webkit-animation-name: examplea;
    -webkit-animation-duration: 4s; 
    animation-name: examplea;
    animation-duration: 4s;
    right: 0px;
    top:125px;
}
@-webkit-keyframes examplea {
    0%   {right:-400px; top:125px;}
    100%  {right:0px; top:125px;}   
}
@keyframes examplea {
    0%   {right:-400px; top:125px;}
    100%  {right:0px; top:125px;} 
}
.boton1{
	position: absolute;
	width: 50px;
	height: 130px;
	z-index: 2;
	margin-top: 110px;
	margin-left: -100px;
}
.boton1:hover{
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}
.boton2{
	position: absolute;
	width: 84px;
	height: 93px;
	z-index: 2;
	margin-top: 130px;
	margin-left: -110px;
}
.boton2:hover{
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}
.boton3{
	position: absolute;
	width: 118px;
	height: 77px;
	z-index: 2;
	margin-top: 130px;
	margin-left: -130px;
}
.boton3:hover{
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}
.boton4	{
	position: absolute;
	width: 91px;
	height: 79px;
	z-index: 2;
	margin-top: 130px;
	margin-left: -115px;
}
.boton4:hover{
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}
.boton5{
	position: absolute;
	width: 100px;
	height: 70px;
	z-index: 2;
	margin-top: 130px;
	margin-left: -120px;
}
.boton5:hover{
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}
.txt1{
	position: absolute;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px;
	color: white;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	z-index: 3;
	margin-top: 50px;
	margin-left: -130px;
}
.txt2{
	position: absolute;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px;
	color: white;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	z-index: 3;
	margin-top: 50px;
	margin-left: -115px;
}
.txt3{
	position: absolute;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px;
	color: white;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	z-index: 3;
	margin-top: 50px;
	margin-left: -125px;
}
.txt4{
	position: absolute;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px;
	color: white;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	z-index: 3;
	margin-top: 50px;
	margin-left: -125px;
}
.txt5{
	position: absolute;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px;
	color: white;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	z-index: 3;
	margin-top: 50px;
	margin-left: -125px;
}
/* Pestaña transparencia codificacion css  */

.barranegra{
	width: 100%;
	height: 3px;
	background-color: black;
}
.barraroja{
	width: 100%;
	height: 80px;
	background-color: #e41115;
	margin-top: 10px;
}
.inicio{
	width: 135px;
	height: 30px;
	position: absolute;
	z-index: 3;
	top: 260px;
}
.txtinicio{
	color: white;
	position: absolute;
	z-index: 3;
	top: 270px;
	margin-left: 150px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-decoration: none;
}
.imgmariposa{
	width: 229px;
	height: 167px;
	position: absolute;
	z-index: 2;
	margin-left: -380px;
	top: 100px;
}
.titulo{
	color: white;
	position: absolute;
	z-index: 3;
	top: 150px;
	margin-left: -80px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	text-decoration: none;
}
.container{
	background-color: #f9c78e;
	opacity: 0.4;
	width: 850px;
	height: 500px;
	display: inline-block;
}
.container1{
	width: 100%;
	height: auto;
}
/* diseños para la pestaña municipios.
Pero se toman estilos de las pestañas anteriores */
.container2{
	background-color: #f3a894;
	opacity: 0.6;
	width: 850px;
	height: 500px;
	display: inline-block;
}
/* diseños para la pestaña Gobierno en Línea.
Pero se toman estilos de las pestañas anteriores */
.container3{
	background-color: #afe0cf;
	opacity: 0.9;
	width: 850px;
	height: 500px;
	display: inline-block;
}
/* diseños para la pestaña Documentos.
Pero se toman estilos de las pestañas anteriores */
.container4{
	background-color: #a9fdb0;
	opacity: 0.7;
	width: 850px;
	height: 500px;
	display: inline-block;
}
/* diseños para la pestaña Contactenos.
Pero se toman estilos de las pestañas anteriores */
.container5{
	background-color: #8eb7db;
	opacity: 0.4;
	width: 850px;
	height: 500px;
	display: inline-block;
}