.banner{
	position: relative;
	width: 100%;
	height: 110px;
}
.loggober{
	position: relative;
	margin-right: 550px;
}
.logcreemos{
	position: relative;
	margin-top: -90px;
}
.logtic{
	position: relative;
	margin-left: 550px;
	margin-top: -90px;	
}
.lrojo{
	background-color: #E41015;
	width: 100%;
	height: 68px;
	margin-top: 220px;
}
.lverde{
	width: 100%;
	height: 66px;
	margin-top: 33px;
	background-color: #389436;
}
.verde01{
	position: relative;
	width: 675px;
	height: 116px;
	margin-top: -65px;
	margin-left: 240px;
}
.marimg{
	position: absolute;
	width: 546px;
	height: 297px;
	margin-left: -170px;
	margin-top: -50px;
}
.mapaimg{
	position: absolute;
	width: 548px;
	height: 482px;
	margin-left: -476px;
	margin-top: -50px;
	z-index: 1;
	text-align: center;
}
.btn{
	position: relative;
	width: 143px;
	height: 359px;
	text-align: center;
	margin: -2px;
	border-radius: 0px;
	z-index: 1;
}
.bandera{
	position: relative;
	width: 100%;
	height: 17px;
	margin-top: 50px;
}
.estadisticas{
	position: relative;
	width: 100%;
	height: 201px;
	background-color: #FDFCD3;
}
.pie{
	background-color: #aab9bc;
	opacity: 80%;
	width: 100%;
	height: 120px;
	margin-top: -16px;
}
h3{
	font-family: Arial, Helvetica, sans-serif; 
	color: black;
	font-size: 17px;
}
.lupa1{
    width: 462px;
    height: 235px;
	z-index: 2;	
	margin-top: 0px;
}
.lupaimg {
    z-index: 2;
    position: absolute;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s; 
    animation-name: example;
    animation-duration: 4s;
    left:0px;
    top:125px;
}
@-webkit-keyframes example {
    0%   {left:-400px; top:125px;}
    100%  {left:0px; top:125px;}   
}
@keyframes example {
    0%   {left:-400px; top:125px;}
    100%  {left:0px; top:125px;}  
}
.lupa2{
    width: 462px;
    height: 235px;
	z-index: 2;	
	margin-top: 0px;
}
.lupaimg1{
    z-index: 2;
    position: absolute;
    -webkit-animation-name: examplea;
    -webkit-animation-duration: 4s; 
    animation-name: examplea;
    animation-duration: 4s;
    right: 0px;
    top:125px;
}
@-webkit-keyframes examplea {
    0%   {right:-400px; top:125px;}
    100%  {right:0px; top:125px;}   
}
@keyframes examplea {
    0%   {right:-400px; top:125px;}
    100%  {right:0px; top:125px;} 
}
.boton1{
	position: absolute;
	width: 50px;
	height: 130px;
	z-index: 2;
	margin-top: 110px;
	margin-left: -100px;
}
.boton1:hover{
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}
.boton2{
	position: absolute;
	width: 84px;
	height: 93px;
	z-index: 2;
	margin-top: 130px;
	margin-left: -110px;
}
.boton2:hover{
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}
.boton3{
	position: absolute;
	width: 118px;
	height: 77px;
	z-index: 2;
	margin-top: 130px;
	margin-left: -130px;
}
.boton3:hover{
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}
.boton4	{
	position: absolute;
	width: 91px;
	height: 79px;
	z-index: 2;
	margin-top: 130px;
	margin-left: -115px;
}
.boton4:hover{
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}
.boton5{
	position: absolute;
	width: 100px;
	height: 70px;
	z-index: 2;
	margin-top: 130px;
	margin-left: -120px;
}
.boton5:hover{
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}
.txt1{
	position: absolute;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px;
	color: black;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	z-index: 3;
	margin-top: 50px;
	margin-left: -130px;
}
.txt2{
	position: absolute;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px;
	color: black;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	z-index: 3;
	margin-top: 50px;
	margin-left: -115px;
}
.txt3{
	position: absolute;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px;
	color: black;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	z-index: 3;
	margin-top: 50px;
	margin-left: -125px;
}
.txt4{
	position: absolute;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px;
	color: black;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	z-index: 3;
	margin-top: 50px;
	margin-left: -125px;
}
.txt5{
	position: absolute;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px;
	color: black;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	z-index: 3;
	margin-top: 50px;
	margin-left: -125px;
}